@media(max-width:750px) {
    .founder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:745px) {
    .contact-logo{
        display: none;

    }
}
.imgg{
    width: 10px;
}
.footer a {
    
    color: rgb(156, 148, 148);
    text-decoration: none;
    padding-left: 1%;
    
}
.footer{
    padding-left: 10%;
    color: grey;
}
.hvr:hover{
    color: rgb(232, 226, 226) !important;   
}
.hvr1:hover{
    color: white !important;
    text-decoration: underline;
}